*
{
    box-sizing: border-box;
}
.center{
    margin-left: auto;
    margin-right:auto;
    width:50%;
    display:block;
}
.coverphoto{
    margin-left: auto;
    margin-right:auto;
    width:100%;
    height:50%;
}
header
{
color:ghostwhite;
position: relative;
align-items: center;
justify-content: center;
flex-direction: column;
}
img
{
height: 50%;
width: 50%;
}

body
{
background-color:lightpink;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 100%;
}
p
{
background-color:lightblue;
}