*
{
    box-sizing: border-box;
}
header
{
background-color:blue;
color:ghostwhite;
position: relative;

}
img
{
height: 50%;
width: 50%;
position: ;
}
.center{
    margin-left: auto;
    margin-right:auto;
    width:50%;
    display:block;
}
body
{
background-color:lightpink;
background-image: src="Images/patrick-fore-74TufExdP3Y-unsplash.jpg";
}
p
{
background-color:lightblue;
}